
<html>
    <head>
        <title>COVID19 XRAY</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='d.css')}}">


        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    
    </head>
    <body >

      <div class="menu" style="position:relative; color: aliceblue;">
        <ul>
          
          <li class="active"><a href="#">       <i class="fa fa-home"></i>    Home</a></li>
          <li><a href="#"><i class="fa fa-server"></i>Service</a>
          <div class="Service" style="opacity: 1;;">
            <ul>
              <li style=""><i class="fa fa-male"></i>About-us</li>
            </ul>
          </div>
          
          </li>
          <li><a href="#"><i class="fa fa-futbol-o"></i>Development</a></li>
          <li><a href="#"><i class="fa fa-money"></i>Future </a></li>

          <li style="color: aliceblue;"><i class="fa fa-users"></i>Team</li>
          <li style="color: aliceblue;"><i class="fa fa-briefcase"></i>Face-Detector</li>
          <li style="color: aliceblue;"><i class="fa fa-handshake-o" aria-hidden="true"></i>Weather</li>
          <li style="color: aliceblue;"><i class="fa fa-briefcase"></i>problems</li>

          
        </ul>
  
      </div>
      
   
        <div class="fullscreen-video-wrap" style="background-image: url('static/4.jpg'); opacity: 0.9;">    
          <video src="down.mp4" autoplay="true" loop="true"></video>

        <div class="position-absolute bottom-center" style=""  >
               
            <button onclick= "location.href='{{ url_for('home') }}'" style="top: 50%; right: 70%;transform: translate(400%,55%);  height: 70px; border-radius: 60px; width: 200px; font-size: 20px; font-family: sans-serif; box-sizing: border-box; background:linear-gradient(90deg, #04054d,#a505e4,#17a0f0,#03f467) ;background-size: 150%; border: solid 3px #000000; ">Face-Mask-Detector</button>
            <div style="text-align:justify;color: aliceblue;transform: translate(15%,5%)">
              <br><br><br><br><br><br><br><br><br>
            <a style="font-size: 25px;">
              1.We got inspired by PyImageSearch who produced a great tutorial on how to build a face mask detector running on a webcam.<br><br>
              
              2.So we wanted to take to the next level and use Computer Vision to detect face masks in street cameras video streams.<br><br>
              
              3.This tool detects people passing by security-like cameras, identifies who is using a face mask, and collects statistics about its usage.<br><br>
              
              4.The results show that only half of the people passing by are using a face mask.<br><br></a></div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>    
        </div>
        <div style="background-image: url('static/7.jpg'); opacity: 0.8;">
        <div>    
            <button onclick= "location.href='{{ url_for('index') }}'" style="top: 50%; right: 70%;transform: translate(400%,55%);  height: 70px; border-radius: 60px; width: 200px; font-size: 20px; font-family: sans-serif; box-sizing: border-box; background:linear-gradient(90deg, #04054d,#a505e4,#17a0f0,#03f467) ;background-size: 150%; border: solid 3px #000000; ">Covid-19 Tester</button>
        </div>
        <div style="text-align:justify;color: rgb(155, 0, 0)11);transform: translate(0%,7%)">
          <br><br><br><br><br><br><br><br><br>
        <a style="font-size: 25px;">
          1.Given the limited testing facilities for COVID19, there is a rush to develop AI tools for quick analysis using x-rays.<br><br>
          
          2.AI tools are widely used for medical image diagnosis. The researchers pooled the data of X-ray images of COVID-19 infected patients as well as healthy persons from different sources available on the internet.<br><br>
          
          3.
          The deep learning method has the advantage that it learns the disease diagnosing features from the x-ray images in an automatic way..<br><br>
          
          4.This tool out-performs other such high-tech tools available globally. Moreover, it uses simple machine learning architecture, which makes it stand out over others.<br><br></a></div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
    </body>
</html>